extends layout

block content
  section.entries(data-huelights=lights)
    each entry in entries
      article(
        data-hueusername=entry.datahue?entry.datahue.username:null
        data-huepost=entry.datahue?entry.datahue.post:null
        data-huelight=entry.datahue?entry.datahue.light:null
      )
        a(
          target="_blank"
          href=entry.action
          data-title=entry.title
        )
          img(
            src="/images/logos/"+entry.logo
            style=entry.style
          )
  section#windowApp
    transition(name='fade')
      .box(v-if='show')
        h1 {{title}}
        img(
          src='/images/close.svg'
          alt='close'
          @click='close'
        )
        iframe(
          v-if='show'
          :src='src'
        )
