extends layout

block content
  h1
    img(
      alt=title
      src='/images/digitallab.png'
    )
  section.entries
    each entry in entries
      article(
        data-huepost=entry.datahuepost
      )
        a(
          target="_blank"
          href=entry.action
          data-title=entry.title
        )
          img(
            src="/images/logos/"+entry.logo
            style=entry.style
          )
  section#windowApp
    transition(name='fade')
      .window(v-if='show')
        .box
          h1 {{title}}
          img(
            src='/images/close.svg'
            alt='close'
            @click='close'
          )
          iframe(
            v-if='show'
            :src='src'
          )
