extends layout

block content
  section.entries
    each entry in entries
      article(
        data-huepost=entry.datahuepost
      )
        a(
          target="_blank"
          href=entry.action
          data-title=entry.title
        )
          img(
            src="/images/logos/"+entry.logo
            style=entry.style
          )
  section#windowApp
    transition(name='fade')
      .box(v-if='show')
        h1 {{title}}
        img(
          src='/images/close.svg'
          alt='close'
          @click='close'
        )
        iframe(
          v-if='show'
          :src='src'
        )
