extends layout

block content
  h1
    img(
      alt=title
      src='/images/digitallab.png'
    )
  section.entries
    each entry in entries
      article(
        data-huepost=entry.datahuepost
      )
        a(
          target="_blank"
          href=entry.action
        )
          img(
            src="/images/logos/"+entry.logo
            style=entry.style
          )
          h2=entry.title
